<div class="content" role="main">
  <div>
    <span class="bit-flip-horizontal">
      <app-bit-flip
        *ngFor="let bitMapItem of bitMap; let i = index;"
        bitPosition={{bitMapItem.bitPos}}
        (valueOfBitEvent)="updateBitMap($event)">
      </app-bit-flip>
    </span>
  </div>
  <br />
  <div>
    <span>
      <label><b>Bits: </b></label>
      <label *ngFor="let bitMapItem of bitMap;" [textContent]="bitMapItem.bitValue === true ? 1 : 0"></label>
    </span>
  </div>
  <div>
    <span>
      <label><b>Decimal Value: </b></label>
      <label [textContent]="currentDecValue"></label>
    </span>
  </div>
  <div>
    <span>
      <label><b>Hexadecimal Value: </b></label>
      <label [textContent]="currentHexValue"></label>
    </span>
  </div>
</div>
<router-outlet></router-outlet>
