<div class="content" role="main">
  <div>
    <span class="bit-flip-bitness">
      <label><b>Bitness: </b></label>
      <mat-select [(value)]="currentBitness" style="width: 80px;" (selectionChange)="onBitnessChanged($event)">
        <mat-option *ngFor="let bv of bitnessValues" [value]="bv.bitnessValue">
          {{bv.bitnessDisplay}}
        </mat-option>
      </mat-select>
    </span>
  </div>
  <br />
  <div>
    <span class="bit-flip-horizontal">
      <app-bit-flip
        *ngFor="let bitMapItem of bitMap; let i = index;"
        bitPosition={{bitMapItem.bitPos}}
        (valueOfBitEvent)="updateBitMap($event)">
      </app-bit-flip>
    </span>
  </div>
  <br />
  <div>
    <span>
      <label><b>Bits: </b></label>
      <label *ngFor="let bitMapItem of bitMap;" [textContent]="bitMapItem.bitValue === true ? 1 : 0"></label>
    </span>
  </div>
  <div>
    <span>
      <label><b>Decimal Value: </b></label>
      <label [textContent]="currentDecValue"></label>
    </span>
  </div>
  <div>
    <span>
      <label><b>Hexadecimal Value: </b></label>
      <label [textContent]="currentHexValue"></label>
    </span>
  </div>
</div>
<router-outlet></router-outlet>
