/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body {
  margin: 0; 
  font-family: Roboto, 
  "Helvetica Neue", sans-serif;
  background-color: darkgray;
}
:host {
  /* font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"; */
  font-size: 14px;
  color: #333;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.content {
  display: inline-block;
  margin: 25px auto 15px;
  padding: 0 16px;
  max-width: 960px;
  flex-direction: column;
  align-items: left;
}

a,
a:visited,
a:hover {
  color: #1976d2;
  text-decoration: none;
}

a:hover {
  color: #125699;
}
.bit-flip-toggle span.mat-slide-toggle-bar {
  transform: rotate(90deg);
  -moz-transform: rotate(90deg);
}
.bit-flip-bitvalue {
  padding-left: 13px;
  display: block;
  margin-top: 8px;
  border: 1px;
  border-color: black;
  border-style: solid;
  padding-bottom: 2px;
}
.bit-flip-bitposition {
  display: block;
  margin-bottom: 6px;
  font-size: 11px;
}
.bit-flip-single-digit {
  margin-left: 14px;
}
.bit-flip-double-digit {
  margin-left: 10px;
}
.bit-flip-triple-digit {
  margin-left: 8px;
}
.bit-flip-four-digit {
  margin-left: 4px;
}
.bit-flip-big-digits {
  margin-left: 8px;
  font-size: 8px;
}
.bit-flip-horizontal {
  display: inline-flex;
}
.mat-slide-toggle.mat-checked .mat-slide-toggle-thumb {
  background-color: rgb(16, 78, 16);
}
.mat-slide-toggle.mat-checked .mat-ripple-element {
  background-color: rgb(16, 78, 16);;
}
.mat-slide-toggle.mat-checked .mat-slide-toggle-bar {
  background-color: rgba(24, 63, 27, 0.5);
}
